@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
  height: 100%;
  width: 100%;
}

.dice-container {
    text-align: center;
    margin: 50px auto;
}

.container {
    width: 250px;
    height: 165px;
    position: relative;
    margin: 0 auto 100px;
    border: 1px solid #FFF;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

.dice {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px; 
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}

.dice .side {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 4rem;
}

.dice .front {
    transform: translateZ(100px);
}

.dice .back {
    transform: rotateX(180deg) translateZ(100px);
}

.dice .right {
    transform: rotateY(90deg) translateZ(100px);
}

.dice .left {
    transform: rotateY(-90deg) translateZ(100px);
}

.dice .top {
    transform: rotateX(90deg) translateZ(100px);
}

.dice .bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

.gimbal {
  transition: transform 1s;
  transform-style: preserve-3d;
  position: absolute; 
  transform-origin: 120px 120px;
}

