@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
  height: 100%;
  width: 100%;
}

.dice-container {
    text-align: center;
    margin: 50px auto;
}

.dice {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px; 
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}

.dice .side {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.rotated-text {
  transform: rotate(-90deg);
}

.invert-text {
   transform: scale(-1, -1);
}

.dice .front {
    transform: translateZ(60px);
}

.dice .back {
    transform: rotateX(180deg) translateZ(60px);
}

.dice .right {
    transform: rotateY(90deg) translateZ(60px);
}

.dice .left {
    transform: rotateY(-90deg) translateZ(60px);
}

.dice .top {
    transform: rotateX(90deg) translateZ(60px);
}

.dice .bottom {
    transform: rotateX(-90deg) translateZ(60px);
}

.dice.rolling {
    animation: roll 1s infinite linear;
}

@keyframes roll {
    from {
        transform: rotateX(0) rotateY(0);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.rolled-front {
    transform: rotateX(0) rotateY(0);
}
.rolled-back {
    transform: rotateX(0) rotateY(180deg);
}
.rolled-left {
    transform: rotateX(0) rotateY(90deg);
}
.rolled-right {
    transform: rotateX(0) rotateY(-90deg);
}
.rolled-top {
    transform: rotateX(-90deg) rotateY(0);
}
.rolled-bottom {
    transform: rotateX(90deg) rotateY(90deg);
}
